.shine-cursor-container {
  pointer-events: none; /* To prevent the cursor container from capturing mouse events */
  z-index: 0;
  position: fixed; /* Keep the cursor container fixed on the screen */
}

.shine {
  height: 500px;
  width: 500px;
  background: radial-gradient(
    circle,
    rgba(206, 22, 22, 0.245) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute; /* Keep the inner Shine element as absolute */
}
